<div class="free-shipping-container"
  cart-free-shipping-container
  data-threshold="{{ settings.cart_free_shipping_threshold }}"
  data-threshold-type="{{ settings.cart_free_shipping_threshold_type }}"
  data-unit-type="{{ settings.cart_free_shipping_unit_type }}"
  data-notice-passed="{{ settings.cart_free_shipping_notice_passed }}"
  data-notice-almost-passed="{{ settings.cart_free_shipping_notice_almost_passed }}"
>

	<div class="free-shipping-container__progress">
		<div class="free-shipping-progress__progress--bar" cart-free-shipping-progress></div>
	</div>

  <div class="free-shipping-container__content">
    <svg xmlns="http://www.w3.org/2000/svg" width="34.371" height="34.371" viewBox="0 0 34.371 34.371">
      <path id="Path_139197" data-name="Path 139197" d="M15.863,5.754,19.02,0l.714,6.524L24.85,2.415l-1.84,6.3,6.3-1.84L25.2,11.993l6.524.718-5.754,3.153,5.754,3.157-6.524.714,4.109,5.116-6.3-1.84,1.84,6.3L19.734,25.2l-.718,6.524-3.153-5.754-3.157,5.754L11.993,25.2,6.877,29.311l1.84-6.3-6.3,1.84,4.109-5.116L0,19.016l5.754-3.153L0,12.707l6.524-.714L2.415,6.877l6.3,1.84-1.84-6.3,5.116,4.109L12.71,0Z" transform="matrix(0.996, 0.087, -0.087, 0.996, 2.765, 0)" fill="#f36e4e"/>
    </svg>
    
    <div class="eyebrow" cart-free-shipping-notice>NOTICE</div>
  </div>
</div>
