{% if paginate.pages > 1 %}
<div class="container-fluid">
  <div class="row">
    <ul class="pagination clearfix mt-5">
    {% if paginate.previous %}
      <li><a href="{{ paginate.previous.url }}" class="prev me-2 text-blue-secondary">Previous</a></li>
    {% else %}
      <li><span>{{ back_word }}</span></li>
    {% endif %}
      <li>Page {{ paginate.current_page }} of {{ paginate.pages }}</li>
    {% if paginate.next %}
      <li><a href="{{ paginate.next.url }}" class="next ms-2 text-blue-secondary">Next</a></li>
    {% else %}
      <li><span>{{ next_word }}</span></li>
    {% endif %}
    </ul>
  </div> 
</div>
{% endif %}