<section class="product-section-recommendations {% if template == 'product' %}gsap-mininav{% endif %}">
  {% if template == 'product' %}
      <div id="mini-nav__recommended" class="mini-nav__anchor"></div>
  {% endif %}
  <div 
    class="container product-section-recommendations__inner"
    data-product-id="{{ product.id }}" 
    data-limit="{{ section.settings.limit }}" 
    data-minrecommendations="{{ section.settings.min_recommendations }}">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        {% render 'component-heading-basic', heading: section.settings.heading, show_swiper_buttons: true %}

        {% liquid
          assign product_recommendations = recommendations.products
          if recommendations.products_count <= section.settings.min_recommendations
            assign product_recommendations = section.settings.custom_collection.products
          endif
        %}
    
        {% comment %} This block gets replaced dynamically by product-recommendations.js on load {% endcomment %}
        <div class="swiper">
          <div class="swiper-wrapper">
            {%- for recommended_product in product_recommendations limit: section.settings.limit -%}
              <div class="swiper-slide">
                {% render 'product-grid-item' product: recommended_product %}
              </div>
            {% endfor %}
          </div>
        </div><!-- .swiper -->

        <div class="container main-button-holder">
          {% if section.settings.button_url != blank %}
            <a href="{{ section.settings.button_url }}" class="btn btn-primary">{{ section.settings.button_text }}</a>
          {% endif %}
        </div>
      </div>
  
    </div>
  </div>

</section>