{% assign custom_featured_image = product.metafields.product.custom_featured_image %}
<div class="product-single__images pt-lg-2">
    <div class="swiper-container swiper-product-main">
        <div class="swiper-wrapper">
            {% if custom_featured_image %}
              <div class="swiper-slide d-flex justify-content-center" 
                data-original="{{ custom_featured_image | img_url: '1024' , scale:2 }}" 
                data-variant-id="{{ }}" 
                data-position="{{ forloop.index }}">
                <img class="swiper-slide__image" 
                  src="{{ custom_featured_image | img_url: '700x' }}" {% if image.alt %} alt="{{ image.alt }}" {% else %} alt="Acme Smoked Fish" {% endif %} loading="lazy"/>
              </div>
            {% endif %}
          {% for image in product.images %}
            {%- if image.attached_to_variant? == true -%}
              {%- capture variantIDs -%}
                {%- for variant in image.variants -%}
                  {{ variant.id }}{% unless forloop.last %},{% endunless -%}
                {%- endfor -%}
              {%- endcapture -%}
            {%- endif  -%}
              <div class="swiper-slide d-flex justify-content-center" 
                  data-original="{{ image | img_url: '1024' , scale:2 }}" 
                  data-variant-ids='{{ variantIDs}}'
                  data-position="{{ forloop.index }}">
                <img class="swiper-slide__image" src="{{ image | img_url: '700x' }}" {% if image.alt %} alt="{{ image.alt }}" {% else %} alt="Acme Smoked Fish" {% endif %} loading="lazy"/>
              </div>
            {% endfor %}
        </div>
    </div>
  
    {% if product.images.size > 1 %}
      <div class="thumbs-wrap d-flex justify-content-between align-items-center mt-4 pt-lg-4 col-lg-10 offset-lg-1">
        <div class="swiper-button-prev">{% render 'icon-next' %}</div>
          <div class="swiper-container swiper-product-thumbs">
            <div class="swiper-wrapper">
                {% if custom_featured_image %}
                    <div class="swiper-slide" 
                        data-original="{{ custom_featured_image | img_url: '1024' , scale:2 }}" 
                        data-variant-id="{{ }}" 
                        data-position="{{ forloop.index }}">
                        <img class="swiper-slide__image custom" 
                          src="{{ custom_featured_image | img_url: '150x' }}"{% if image.alt %} alt="{{ image.alt }}" {% else %} alt="Acme Smoked Fish" {% endif %} loading="lazy"/>
                    </div>
                {% endif %}
                {% for image in product.images %}
                    <div class="swiper-slide" data-original="{{ image | img_url: '1024' , scale:2 }}" data-variant-id="{{ }}" data-position="{{ forloop.index }}">
                        <img class="swiper-slide__image" src="{{ image | img_url: '150x' }}"{% if image.alt %} alt="{{ image.alt }}" {% else %} alt="Acme Smoked Fish" {% endif %} loading="lazy"/>
                    </div>
                {% endfor %}
            </div>
          </div>
        <div class="swiper-button-next">{% render 'icon-next' %}</div>
      </div>
    {% endif %}
</div>