<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

	{{ 'screen-shopify.css' | asset_url | stylesheet_tag }}


  {{ content_for_header }}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>


<body >
  <div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="row">
      <div class="col">

        {{ content_for_layout }}

        {% form 'storefront_password', class: 'form-single-field' %}
        {%- assign formId = 'PasswordLoginForm' -%}

        <h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
        <div class="form-group {% if form.errors %}input-group--error{% endif %}">
          <label id="PasswordLabel" for="Password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input type="text" name="password"
            id="Password"
            class="form-control {% if form.errors %}input--error{% endif %}"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            autocomplete="off"
            aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
            {% if form.errors %}
              data-error="password"
              aria-invalid="true"
            {%- endif -%}
          >
        </div>
        <div class = 'form-group'>
          <button type="submit" name="commit" class="btn btn-block btn-primary">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
        {%- if form.errors -%}
          <span id="{{ formId }}-password-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.messages['form'] }}</span>
          </span>
        {%- endif -%}
      {% endform %}
      </div>
    </div>
  </div>


</body>
</html>
