
<section class="rich-text bg-{{section.settings.background}} {{section.settings.margin-top}} {{section.settings.margin-bottom}} {{section.settings.padding-top}} {{section.settings.padding-bottom}}" id="{{section.settings.section_id | default : section.id }}">
    <div class="container">
        <div class="{{section.settings.section_width}} {{section.settings.text_alignment}}">
            {% for block in section.blocks %}            
                <div class = 'rich-text-{{block.type}}'>
                    {% case block.type %}
                        {% when 'header' %}
                            {% if block.settings.header != blank %}
                                <{{ block.settings.header_size}}> 
                                    {{block.settings.header}} 
                                </{{ block.settings.header_size}}>
                            {% endif %}
                        {% when 'text' %}
                            {% if block.settings.body %}
                                {{ block.settings.body }}
                            {% endif %}
                        {% else %}
                      {% endcase %}                    
                </div>
            {% endfor %}

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Rich Text",
        "settings": [
            {
                "type": "text",
                "id": "section_id",
                "label": "Section ID",
                "info" : "Enter a url friendly id to link directly to this section."
            },
            {
                "type" : "header",
                "content" : "Layout"
            },
            {
                "type" : "select",
                "id" : "section_width",
                "label" : "Section Width",
                "default" : "col-lg-9",
                "options" : [
                    { "value" : "col-lg-9" , "label" : "Two Thirds" },
                    { "value" : "col-lg-12" , "label" : "Full Width" },
                    { "value" : "col-lg-6" , "label" : "Half Width" }
                ]
            },
            {
                "type" : "select",
                "id" : "text_alignment",
                "label" : "Text Alignment",
                "default" : "text-start",
                "options" : [
                    { "value" : "text-start" , "label" : "Left" },
                    { "value" : "text-center" , "label" : "Center" },
                    { "value" : "text-end" , "label" : "Right" }
                ]
            },
            {
                "type" : "select",
                "id" : "padding-top",
                "label" : "Padding Top",
                "default" : "pt-5",
                "options" : [
                    { "value" : "pt-0" , "label" : "None" },
                    { "value" : "pt-1" , "label" : "Small" },
                    { "value" : "pt-2" , "label" : "Medium" },
                    { "value" : "pt-3" , "label" : "Large" },
                    { "value" : "pt-4" , "label" : "Extra Large" },
                    { "value" : "pt-5" , "label" : "Massive" }
                ]
            },
            {
                "type" : "select",
                "id" : "padding-bottom",
                "label" : "Padding Bottlm",
                "default" : "pb-0",
                "options" : [
                    { "value" : "pb-0" , "label" : "None" },
                    { "value" : "pb-1" , "label" : "Small" },
                    { "value" : "pb-2" , "label" : "Medium" },
                    { "value" : "pb-3" , "label" : "Large" },
                    { "value" : "pb-4" , "label" : "Extra Large" },
                    { "value" : "pb-5" , "label" : "Massive" }
                ]
            },
            {
                "type" : "select",
                "id" : "margin-top",
                "label" : "Margin Top",
                "default" : "mt-0",
                "options" : [
                    { "value" : "mt-0" , "label" : "None" },
                    { "value" : "mt-1" , "label" : "Small" },
                    { "value" : "mt-2" , "label" : "Medium" },
                    { "value" : "mt-3" , "label" : "Large" },
                    { "value" : "mt-4" , "label" : "Extra Large" },
                    { "value" : "mt-5" , "label" : "Massive" }
                ]
            },
            {
                "type" : "select",
                "id" : "margin-bottom",
                "label" : "Margin Bottom",
                "default" : "mb-0",
                "options" : [
                    { "value" : "mb-0" , "label" : "None" },
                    { "value" : "mb-1" , "label" : "Small" },
                    { "value" : "mb-2" , "label" : "Medium" },
                    { "value" : "mb-3" , "label" : "Large" },
                    { "value" : "mb-4" , "label" : "Extra Large" },
                    { "value" : "mb-5" , "label" : "Massive" }
                ]
            },
            {
                "type" :"select",
                "id": "background",
                "label": "Background Color",
                "default": "gray-light",
                "options": [
                    {
                        "value": "light",
                        "label": "White"
                    },
                    {
                        "value": "gray-light",
                        "label": "Gray"
                    }
                ]
            }


        ],
        "blocks" : [
            {
                "type" : "header",
                "name" : "Header",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "header",
                        "label" : "Header",
                        "info" : "For bold and San Serif add <b>Around your text</b>"
                    },
                    {
                        "type" : "select",
                        "id" : "header_size",
                        "label" : "Header Size",
                        "default" : "h2",
                        "options" : [
                            { "value" : "h1", "label" : "H1" },
                            { "value" : "h2", "label" : "H2" },
                            { "value" : "h3", "label" : "H3" },
                            { "value" : "h4", "label" : "H4" },
                            { "value" : "h5", "label" : "H5" },
                            { "value" : "h6", "label" : "H6" }
                        ]
                    }
                ]
            },
            {
                "type" : "text",
                "name" : "Rich Text",
                "settings" : [
                    {
                        "type" : "richtext",
                        "id" : "body",
                        "label" : "Body"
                    }
                ]
            }            
        ],
        "presets": [
            {
                "name": "Rich Text",
                "settings" : {}
            }
        ]
    }
{% endschema %}
